@model MyWebApp2.Models.Voc

@{
    ViewData["Title"] = "Edit";
}

<h1>編輯</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Vocabulary" class="control-label">單字</label>
                <input asp-for="Vocabulary" class="form-control" />
                <span asp-validation-for="Vocabulary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartOfSpeeach" class="control-label">詞性</label>
                <input asp-for="PartOfSpeeach" class="form-control" />
                <span asp-validation-for="PartOfSpeeach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meaning" class="control-label">詞意</label>
                <input asp-for="Meaning" class="form-control" />
                <span asp-validation-for="Meaning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sentence" class="control-label">例句</label>
                <input asp-for="Sentence" class="form-control" />
                <span asp-validation-for="Sentence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="StackId" class="form-control" />
                <span asp-validation-for="StackId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-light border border-secondary" asp-action="Index2" asp-route-Stackid=@ViewBag.StackId>返回</a>
            </div>
        </form>
    </div>
</div>


  


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
