<h4>獲取權限</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <p>@ViewBag.User</p>
        <p>@ViewBag.usr</p>
        <form asp-action="AddRole2UserConfirm">
            <label for="rolename">Choose a role:</label>
            <select name="rolename" id="rolename">
            @{
                foreach(var item in (List<string>)ViewData["Roles"]){
                    <option value=@item>@item</option>
                }
            }
             </select>
             <br><br>
             <input type="submit" value="Submit">
         </form>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>
