@using Microsoft.AspNetCore.Identity
<h4>Add a role name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddRoleConfirm">
            <div class="form-group">
                <label for="RoleName" class="control-label"></label>
                <input name="RoleName" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
        <h2>目前有的權限</h2>
        <ul>
            @{
                foreach(var item in (List<IdentityRole>)ViewData["Roles"]){
                    <li>@item.Name</li>
                }
            }

        </ul>  
    </div>
</div>



<div>
    <a asp-action="Index">返回</a>
</div>